<h1>Tops#top</h1>
<p>Find me in app/views/tops/top.html.erb</p>

<a href="https://twitter.com/shinnya272954?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @shinnya272954</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<a class="twitter-timeline" href="https://twitter.com/Shinnya272954?ref_src=twsrc%5Etfw">Tweets by Shinnya272954</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
